.search-wrapper {
	width: 100%;

	@media (min-width: 767.98px) {
		width: 50%;
	}
}

.search-input-group {
	position: relative;

	.search-clear.btn {
		position: absolute;
		top: 0;
		right: 4.6875rem;
		z-index: 6;

		text-decoration: none;
	}
}
